.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}

.headerTitle1{
    position: absolute;
    font-size: 26px;
    top: 18%;
    color: brown;
}

.headerTitle2{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg{
    width:100%;
    height: 610px;
    margin-top: 120px;
    object-fit: cover;
}